body {text-align:center;background-color: rgb(88, 217, 226);}
.título1{marginfont-size:50px; border: 10px solid rgb(230, 10, 10);}
img{width: 300px;}
p{color: rgb(197, 32, 32);}
h2{color: rgb(255, 0, 0);}
.parágrafo1{font-size: 35px;}
.parágrafo2{text-align: left;font-size: 25px;}
.parágrafo3{font: size 25px;}
